" Source your .vimrc
" source ~/.vimrc

set relativenumber
set num

" map black whole register
noremap \ "_
" paste over without overwriting default register
xnoremap p P

" move to the beginning of the next word
map w [w
" move to the end of the next word
map e ]w
" move to the beginning of the previous word
map b [b
" move to the end of the previous word
map ge ]b

" IDEA stuff
" smart line joining with <S-J>
set ideajoin
set idearefactormode=keep
set ideastatusicon=enabled
" sync vim clipboard with system clipboard
set clipboard^=unnamed,unnamedplus
" jump between angle brackets with %
set matchpairs+=<:>
" highlight search
set hlsearch
" disable highlight after escape
nnoremap <Esc> :nohlsearch<CR>
" ignore case when searching
set ignorecase
" enable case sensitive search when using capital letters
set smartcase
" enable incremental search
set incsearch
set wrapscan
set gdefault
set history=10000
set scrolloff=8 sidescrolloff=8


" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
set easymotion
set multiple-cursors
" set surround
set commentary


" Mappings
let mapleader = " "


" General
nnoremap <leader>q :action ShowIntentionActions<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" Additional vim actions
nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>

" Search
noremap <leader>fc :action GotoClass<CR>
noremap <leader>ff :action GotoFile<CR>
noremap <leader>fs :action GotoSymbol<CR>
noremap <leader>fk :action GotoAction<CR>
noremap <leader>fa :action SearchEverywhere<CR>
noremap <leader>fw :action FindInPath<CR>
" Find and replace word under cursor (ideavim adaptation)
nmap <leader>fr viwy \| :%s/\<<C-r>+\>/<C-r><C-w>/gI<Left><Left><Left>
"vim.keymap.set("n", "<leader>s", [[:%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>]])
nnoremap <leader>f. :action RecentFiles<CR>
nnoremap <leader>fa :action SearchEverywhere<CR>
nnoremap <leader>/ :action Find<CR>


"Selection manipulation
nnoremap <C-f> :action CodeCompletion<CR>
nnoremap <C-D> <C-d>
nnoremap <C-U> <C-u>

" Goto actions
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

nnoremap g[ :action PreviousOccurence<CR>
nnoremap g] :action NextOccurence<CR>

imap <C-n> <ESC>:action HippieCompletion<CR>
imap <C-p> <ESC>:action HippieBackwardCompletion<CR>

nnoremap <leader>gg :action Generate<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <leader>gtm :action GenerateTestMethod<CR>

nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gy :action GotoTypeDeclaration<CR>
nnoremap <leader>gD :action GotoSuperMethod<CR>
nnoremap <leader>gI :action GotoImplementation<CR>
nnoremap <leader>gu :action ShowUsages<CR>
nnoremap <leader>gf :action GotoFileUnderCaret<CR>
nnoremap <leader>gx :action RevealIn<CR>
nnoremap <leader>gl :action GotoLine<CR>
nnoremap <leader>gs :action ViewSource<CR>
nnoremap <leader>go :action FileStructurePopup<CR>

" Type info
noremap <leader>td :action QuickTypeDefinition<CR>
noremap <leader>ti :action ExpressionTypeInfo<CR>
noremap <leader>tt :action ShowHoverInfo<CR>
noremap <leader>th :action QuickTypeHierarchy<CR>

" Config
nnoremap <leader>cc :e ~/.ideavimrc<CR>
nnoremap <leader>cs :source ~/.ideavimrc<CR>

"Git
nnoremap <leader>GS :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>GB :action Vcs.QuickBranchPopupAction<CR>
nnoremap <leader>GA :action Vcs.Git.Add<CR>
nnoremap <leader>GC :action Vcs.CommitProject<CR>
nnoremap <leader>GPS :action Vcs.Push<CR>
nnoremap <leader>GPL :action Vcs.Pull<CR>
nnoremap <leader>GU :action Vcs.UpdateProject<CR>
nnoremap <leader>GL :action Vcs.GitLog<CR>
nnoremap <leader>GH :action Vcs.Git.ShowHistory<CR>
nnoremap <leader>GH :action Vcs.Git.ShowHistoryForSelection<CR>
nnoremap <leader>GD :action Vcs.Git.ShowCommitDetails<CR>
nnoremap <leader>GR :action Vcs.Git.Rebase<CR>
nnoremap <leader>GM :action Vcs.Git.Merge<CR>
nnoremap <leader>GS :action Vcs.Git.StashChanges<CR>
nnoremap <leader>GF :action Vcs.Git.Fetch<CR>
nnoremap <leader>GC :action Vcs.Git.Commit<CR>


" LSP
map <leader>oc <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>oa <Action>(ReformatCode)<Action>(OptimizeImports)

map <leader>jev <Action>(IntroduceVariable)
map <leader>jec <Action>(IntroduceConstant)
map <leader>jem <Action>(ExtractMethod)

" Running
noremap <leader>ra :action RunAnything<CR>
noremap <leader>rm :action Maven.ExecuteGoal<CR>
noremap <leader>rc :action ChooseRunConfiguration<CR>
noremap <leader>rp :action TogglePresentationMode<CR>
noremap <leader>rq :action ActivateProblemsViewToolWindow<CR>

map K :action QuickJavaDoc<CR>
imap <C-s> :action ParameterInfo<CR>
map <C-s> :action ParameterInfo<CR>
map <leader>a :action ShowIntentionActions<CR>

" File tree navigation
" nnoremap \\ :NERDTree<CR>

" Tab/Window/Buffer navigation
nnoremap <C-TAB> :tabnext<CR>
nnoremap <C-S-TAB> :tabprevious<CR>
nnoremap <leader>tf :tabfirst<CR>
nnoremap <leader>tm :tabmove<CR>
nnoremap <leader>tl :tablast<CR>

map <leader>wv :action SplitVertically<CR>
map <leader>wh :action SplitHorizontally<CR>
map <leader>wr :action MoveTabRight<CR>
map <leader>wl :action MoveTabLeft<CR>
map <leader>wm :action MoveEditorToOppositeTabGroup<CR>
" Close split
map <leader>ww :action Unsplit<CR>
" Close all splits
map <leader>wa :action UnsplitAll<CR>

map <C-e> :action EditSourceInNewWindow<CR>
map <C-W> :action CloseContent<CR>
map <C-S-W> :action CloseAllEditors<CR>

" Terminal
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>

