" Source your .vimrc
source ~/.vimrc

" IDEA stuff
set incsearch
set ideajoin
set idearefactormode=keep
set ideastatusicon=enabled
set hlsearch
set ignorecase
set smartcase
set incsearch
set wrapscan
set gdefault
set history=10000
set scrolloff=8 sidescrolloff=8
set clipboard+=unnamed


" Plugins
plug 'machakann/vim-highlightedyank'
plug 'tpope/vim-commentary'
plug 'preservim/nerdtree'
set easymotion
set multiple-cursors
set surround


" Mappings
let mapleader = " "


nnoremap <leader>q :action ShowIntentionActions<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

" Additional vim actions
nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>

" Search
nnoremap <leader>fh :action SearchHelp<CR>
nnoremap <leader>fk :action GotoAction<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action SearchEverywhere<CR>
nnoremap <leader>fw :action FindWordAtCaret<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fd :action ActivateProblemsViewToolWindow<CR>
" Find and replace word under cursor (ideavim adaptation)
nmap <leader>fr viwy \| :%s/\<<C-r>+\>/<C-r><C-w>/gI<Left><Left><Left>
"vim.keymap.set("n", "<leader>s", [[:%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>]])
nnoremap <leader>f. :action RecentFiles<CR>
nnoremap <leader>fa :action SearchEverywhere<CR>
nnoremap <leader>/ :action Find<CR>


"Selection manipulation
nnoremap <C-f> :action CodeCompletion<CR>
nnoremap <C-D> <C-d>
nnoremap <C-U> <C-u>
"nnoremap <C-C> :action EditorEscape<CR>
"nnoremap <C-N> :action EditorChooseLookupItemDown<CR>
"nnoremap <C-P> :action EditorChooseLookupItemUp<CR>
"nnoremap <C-Y> :action Enter<CR>


" Goto actions
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

nnoremap ga :action Generate<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoSuperMethod<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gf :action GotoFileUnderCaret<CR>
nnoremap gx :action RevealIn<CR>
nnoremap g[ :action PreviousOccurence<CR>
nnoremap g] :action NextOccurence<CR>
nnoremap gtt :action GotoTest<CR>
nnoremap gtm :action GenerateTestMethod<CR>
nnoremap gn :e ~/.ideavimrc<CR>
set commentary

"Git
nnoremap <leader>GS :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>GB :action Vcs.QuickBranchPopupAction<CR>
nnoremap <leader>GA :action Vcs.Git.Add<CR>
nnoremap <leader>GC :action Vcs.CommitProject<CR>
nnoremap <leader>GPS :action Vcs.Push<CR>
nnoremap <leader>GPL :action Vcs.Pull<CR>
nnoremap <leader>GU :action Vcs.UpdateProject<CR>
nnoremap <leader>GL :action Vcs.GitLog<CR>
nnoremap <leader>GH :action Vcs.Git.ShowHistory<CR>
nnoremap <leader>GH :action Vcs.Git.ShowHistoryForSelection<CR>
nnoremap <leader>GD :action Vcs.Git.ShowCommitDetails<CR>
nnoremap <leader>GR :action Vcs.Git.Rebase<CR>
nnoremap <leader>GM :action Vcs.Git.Merge<CR>
nnoremap <leader>GS :action Vcs.Git.StashChanges<CR>
nnoremap <leader>GF :action Vcs.Git.Fetch<CR>
nnoremap <leader>GC :action Vcs.Git.Commit<CR>


" LSP
map <leader>rc <Action>(ReformatCode)
map <leader>ri <Action>(OptimizeImports)
map <leader>ra <Action>(ReformatCode)<Action>(OptimizeImports)
map <leader>jev <Action>(IntroduceVariable)
map <leader>jec <Action>(IntroduceConstant)
map <leader>jem <Action>(ExtractMethod)

" Running
nnoremap <leader>r :action RunAnything<CR>

map K <Action>(QuickJavaDoc)
imap <C-s> <Action>(ParameterInfo)
map <C-s> <Action>(ParameterInfo)
map <leader>a <Action>(ShowIntentionActions)
map <leader><leader>T <Action>(VimFindActionIdAction)


" File tree navigation
nnoremap \\ :NERDTree<CR>

" Tab/Window/Buffer navigation
nnoremap <C-TAB> :tabnext<CR>
nnoremap <C-S-TAB> :tabprevious<CR>
nnoremap <leader>tf :tabfirst<CR>
nnoremap <leader>tm :tabmove<CR>
nnoremap <leader>tl :tablast<CR>

nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>wh :action SplitHorizontally<CR>
nnoremap <leader>wr :action MoveTabRight<CR>
nnoremap <leader>wl :action MoveTabLeft<CR>
nnoremap <leader>wm :action MoveEditorToOppositeTabGroup<CR>
nnoremap <C-e> :action EditSourceInNewWindow<CR>
nnoremap <C-W> :action CloseContent<CR>
nnoremap <C-S-W> :action CloseAllEditors<CR>

" Terminal
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>

